@page "/"
@inherits IndexPage
@*<div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle"
                type="button" disabled="@(!HasDevices)" id="cameraButton"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            @if (IsLoading)
            {
                <span id="loading" class="spinner-border spinner-border-sm"
                      role="status" aria-hidden="true"></span>
            }
            else
            {
                <span class="oi oi-video" aria-hidden="true"></span>
            }
        </button>
        <div id="cameras" class="dropdown-menu" aria-labelledby="camera-button">
            @if (Devices?.Any() ?? false)
            {
                foreach (var device in Devices)
                {
                    <a href="#" class="dropdown-item" id="@device.DeviceId"
                       @onclick="@(async () => await SelectCamera(device.DeviceId))">
                        @device.Label
                    </a>
                }
            }
        </div>
    </div>*@

<div class="grid-rooms">
    <div class="inline">
        <input @bind="RoomName" @onkeydown="@(async args => await TryAddRoom(args))" placeholder="Room name" />
        <button id="add-room" @onclick="@(async args => await TryAddRoom(args))">
            <i class="far fa-plus-square" aria-label="Create room"></i> Create
        </button>
        @if (Rooms.Any())
        {
            <ul>
                @foreach (var room in Rooms)
                {
                    <li class="@(IsActiveRoom(room) ? "active" : null)">@room</li>
                }
            </ul>
        }
    </div>
</div>
<div class="grid-controls">
    <button>
        <i class="fas fa-video" aria-label="Video settings"></i> Video settings
    </button>
</div>
<div class="grid-video">
    <div id="@DivId"></div>
</div>