@page "/"
@inherits IndexPage

<div class="grid-rooms">
    <div class="inline">
        <input @bind="RoomName" @onkeydown="@(async args => await TryAddRoom(args))" placeholder="Room name" />
        <button id="add-room" @onclick="@(async args => await TryAddRoom(args))">
            <i class="far fa-plus-square" aria-label="Create room"></i> Create
        </button>
    </div>
    <ul>
    @foreach (var room in Rooms)
    {
        <li class="@(IsActiveRoom(room) ? "active" : null)">@room</li>
    }
    </ul>
</div>
<div class="grid-controls">
    <button>
        <i class="fas fa-video" aria-label="Video settings"></i> Video settings
    </button>
</div>
<div class="grid-video">
    <div id="@CameraElementId"></div>
</div>