@page "/"
@inherits IndexPage

<div class="row">
    <div class="col-3">

        <div class="dropdown p-4">
            <button class="btn btn-secondary dropdown-toggle w-100"
                    type="button" disabled="@IsLoading" id="cameraButton"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                @if (IsLoading)
                {
                    <span id="loading" class="spinner-border spinner-border-sm"
                          role="status" aria-hidden="true"></span>
                }
                <span>@(IsLoading ? "Loading cameras..." : "Select Camera")</span>
            </button>
            <div id="cameras" class="dropdown-menu" aria-labelledby="camera-button">
                @if (HasDevices)
                {
                    foreach (var device in Devices!)
                    {
                        <a href="#" class="dropdown-item" id="@device.DeviceId"
                           @onclick="@(async () => await SelectCamera(device.DeviceId))">
                            @device.Label
                        </a>
                    }
                }
            </div>
        </div>

        <div class="input-group w-100 p-4">
            <input placeholder="Room name" @bind="RoomName"
                   @onkeydown="@(async args => await TryAddRoom(args))" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary"
                        @onclick="@(async args => await TryAddRoom(args))">
                    <i class="far fa-plus-square" aria-label="Create room"></i> Create
                </button>
            </div>
        </div>

        <div class="list-group w-100 p-4">
            @foreach (var room in Rooms)
            {
                <a href="#" class="list-group-item list-group-item-action @(IsActiveRoom(room) ? "active" : null)"
                   @onclick="@(async _ => await TryJoinRoom(room))">
                    @room
                </a>
            }
        </div>

    </div>
    <div class="col-9">
        <div class="embed-responsive embed-responsive-16by9">
            <div id="@CameraElementId" class="embed-responsive-item"></div>
        </div>
    </div>
</div>